@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: black;
  color: whitesmoke;
}
body {
  background-color: black;
  color: whitesmoke;
}
/* .bgImage {
  background-image: url("../public/aurora.jpg");
  background-size: cover;
  height: 100vh;
} */
